---
import Card from "../components/Card.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Café Overview</title>
	</head>
	<body>
		<header>
            
        </header>
		<section>
			<hr>
			<h2>Stylish & cozy cafés</h2>
			<p>Each café holds its own unique charm – from rustic coffee bars to modern oases. Plan your next café visit below.</p>
			<div class="grid_3_1fr">
<Card img="/img/folketskaffe.webp" text1="Folkets Kaffe" text2= "Borups Allé 2, 2200 København N" url="https://www.facebook.com/FolketsKaffe" igUrl="https://www.instagram.com/folketskaffe/"/>
<Card img="/img/lele.webp" text1="Lélé" text2= "Nordre Frihavnsgade 101, 2100 København" url="https://lelecph.dk" igUrl="https://www.instagram.com/lele_cph/?hl=da"/>
<Card img="/img/sonny.webp" text1="Sonny" text2= "Frederiksberg Allé 12, 1820 Frederiksberg" url="https://www.sonnycph.dk" igUrl="https://www.instagram.com/sonny.cph/?hl=da"/>
<Card img="/img/madogkaffe.webp" text1="Mad & Kaffe Frederiksberg" text2= "Godthåbsvej 45, 2000 Frederiksberg" url="https://madogkaffe.dk" igUrl="https://www.instagram.com/madogkaffe/?hl=da"/>
<Card img="/img/lipa.webp" text1="Lipa" text2= "Ane Katrines Vej 2, 2000 Frederiksberg" igUrl="https://www.instagram.com/lipacph/?hl=da"/>
<Card img="/img/folketskaffe.webp" text1="Desserthuset" text2= "Frederiksborggade 50, 1360 København K" igUrl="https://www.instagram.com/desserthuset/?hl=da"/>	
</div>
<hr>
</section>
	</body>
</html>