---
import Card from "../components/Card.astro"
import "../styles/style.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barrio&family=Mrs+Sheppards&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Barrio&family=Mrs+Sheppards&display=swap" rel="stylesheet">
		<title>Forside</title>
	</head>
	<body>
		<nav>
			<a href="/" > <img  class="logo" src="/img/logo.webp" alt="Creative Escape logo"></a>
			<div class="nav-links a">
			<a class="margin_right" href="/">Home</a> 
			<a href="/caféer">Café Overview</a>
		</div>
		</nav>
		<header>
			<div class="grid_1_1">
		<img class="img_display_none" src="/img/forside.webp">
		<div>
		<h1>Cafés in Copenhagen</h1>
		<p>In recent years, the café culture in Copenhagen has experienced remarkable growth. Today, cafés are bustling at all hours of the day, serving as versatile spaces for both social interaction and professional or academic work. They are no longer just places to grab a coffee; they have become dynamic environments where people gather to meet friends, collaborate with colleagues, or focus on individual tasks.
			Cafés in Copenhagen offer a unique blend of atmosphere and inspiration. Whether you are seeking a cozy corner to relax, an energizing space to brainstorm ideas, or simply a change of scenery to spark creativity, these establishments provide a setting that encourages both connection and productivity. From rustic coffee bars to sleek, modern spaces, each café has its own character, offering new experiences and fresh perspectives for anyone who steps through the door.</p>
	</div>
	</div>
	</header>
		<section>
			<hr>
			<h2>STYLISH & COZY CAFÉS</h2>
			<p>Each café holds its own unique charm – from rustic coffee bars to modern oases. Plan your next café visit below.</p>
			<div class="grid_3_1fr">
<Card img="/img/folketskaffe.webp" text1="Folkets Kaffe" text2= "Borups Allé 2, 2200 København N" url="https://www.facebook.com/FolketsKaffe" igUrl="https://www.instagram.com/folketskaffe/"/>
<Card img="/img/lele.webp" text1="Lélé" text2= "Nordre Frihavnsgade 101, 2100 København" url="https://lelecph.dk" igUrl="https://www.instagram.com/lele_cph/?hl=da"/>
<Card img="/img/sonny.webp" text1="Sonny" text2= "Frederiksberg Allé 12, 1820 Frederiksberg" url="https://www.sonnycph.dk" igUrl="https://www.instagram.com/sonny.cph/?hl=da"/>
<Card img="/img/madogkaffe.webp" text1="Mad & Kaffe Frederiksberg" text2= "Godthåbsvej 45, 2000 Frederiksberg" url="https://madogkaffe.dk" igUrl="https://www.instagram.com/madogkaffe/?hl=da"/>
<Card img="/img/lipa.webp" text1="Lipa" text2= "Ane Katrines Vej 2, 2000 Frederiksberg" igUrl="https://www.instagram.com/lipacph/?hl=da"/>
<Card img="/img/folketskaffe.webp" text1="Desserthuset" text2= "Frederiksborggade 50, 1360 København K" igUrl="https://www.instagram.com/desserthuset/?hl=da"/>	
</div>
<hr>
</section>


<section class="section_bag_farve">
<h2>Spots For Laptops</h2>
<div class="grid_2_1fr ">
<Card img="/img/folketskaffe.webp" text3="MOKKARIET" text4="Jagtvej 72, 2200 Nørrebro"/>
<Card img="/img/lele.webp" text3="PALUDANS BOGCAFÉ" text4="Fiolstræde 10, 1171 København"/>
<Card img="/img/sonny.webp" text3="STUDENTERHUSET" text4="Købmagergade 52, 1150 København"/>
<Card img="/img/madogkaffe.webp" text3="MINAS KAFFEBAR" text4="Nørrebrogade 75, 2200 København"/>
</div>
</section>

	</body>
</html>

