---
import Card from "../components/Card.astro"
import Navigation from "../components/Navigation.astro"
import "../styles/style.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barrio&family=Mrs+Sheppards&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Barrio&family=Mrs+Sheppards&display=swap" rel="stylesheet">
		<title>Forside</title>
	</head>
	<body>
		<nav>
			<a href="/" > <img  class="logo" src="/img/logo.webp" alt="Creative Escape logo"></a>
			<div class="nav-links a">
			<a class="margin_right" href="/">Home</a> 
			<a href="/caféer">Café Overview</a>
		</div>
		</nav>
		<header>
			<div class="grid_1_1">
		<img class="img_display_none" src="/img/forside.webp">
		<div>
		<h1>Cafés in Copenhagen</h1>
		<p>The café culture in Copenhagen has experienced a lot of growth. Today, cafés are bustling at all hours of the day, serving as versatile spaces for both social interaction and professional or academic work. They have become dynamic environments where people gather to meet friends, collaborate with colleagues, or focus on individual tasks.</p> <br>
		
			<p>Cafés in Copenhagen offer a unique blend of atmosphere and inspiration. Whether you are seeking a cozy corner to relax, an energizing space to brainstorm ideas, or simply a change of scenery to spark creativity, these establishments provide a setting that encourages both connection and productivity.</p> <br>
			<br>
			<a class="btn" href="/caféer">Café overview</a>
	</div>
	</div>
	</header>
<section>
	<hr>
	<h2 class="center_h2">STYLISH AND COZY CAFÉS - WHAT DO THEY OFFER?</h2>
	<div class="p_center">
	<p class="p_max"> Stylish and cozy cafés offer more than just great coffee. With unique interiors, carefully crafted flavors, and a welcoming atmosphere, they inspire young creatives to relax, work, and spark new ideas. These cafés are perfect spots to find inspiration, whether through the vibrant design, the carefully curated details, or the energy of like-minded people around you. Every visit becomes a sensory experience that fuels creativity. Go to “Café Overview” and plan your next visit. </p>
</div>
</section>

<section>
	<hr>
	<h2 class="center_h2">STUDYCAFÉS - WHAT DO THEY OFFER?</h2>
	<div class="p_center">
	<p class="p_max"> A good study café isn’t just about the coffee it’s about creating a space where ideas can flow. We’ve gathered spots with cozy atmospheres, good lighting, and room to focus places where you can turn an ordinary study day into an inspiring experience. Follow our guide and discover your new favorite workspace in the heart of Copenhagen. Go to “Café Overview” and find one for you..</p>
</div>
</section>
	</body>
	<br>
	<footer>
        <a href="/" > <img  class="logo" src="/img/logo.webp" alt="Creative Escape logo"></a>
    </footer>
</html>

