---
import Card from "../components/Card.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Forside</title>
	</head>
	<body>
		<img src="">
		<h1>Caféer i København</h1>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt laborum ipsa corporis. Minima ipsa quod rem maxime at quos sunt placeat ipsum, natus porro in, soluta quam tempora ad veniam?</p>

		<section>
<h2>Charme og atmosfære</h2>
<Card img="/img/folketskaffe.webp" text="Folkets Kaffe - Borups Allé 2, 2200 København N" link1="Hjemmeisde" link2="Insta"/>
<Card img="/img/lele.webp" text="Lélé - Nordre Frihavnsgade 101, 2100 København" link1="Hjemmeisde" link2="Insta"/>
<Card img="/img/sonny.webp" text="Sonny - Frederiksberg Allé 12, 1820 Frederiksberg" link1="Hjemmeisde" link2="Insta"/>
<Card img="/img/madogkaffe.webp" text="Mad & Kaffe Frederiksberg - Godthåbsvej 45, 2000 Frederiksberg" link1="Hjemmeisde" link2="Insta"/>
<Card img="/img/lipa.webp" text="Lipa - Ane Katrines Vej 2, 2000 Frederiksberg" link1="Hjemmeisde" link2="Insta"/>
<Card img="/img/folketskaffe.webp" text="Desserthuset - Frederiksborggade 50, 1360 København K" link1="Hjemmeisde" link2="Insta"/>	

</section>


	</body>
</html>

