---
import Card from "../components/Card.astro"
import "../styles/style.css"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barrio&family=Mrs+Sheppards&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Barrio&family=Mrs+Sheppards&display=swap" rel="stylesheet">
		<title>Forside</title>
	</head>
	<body>
		<header>
			<div class="grid_1_1">
		<img src="/img/forside.webp">
		<div>
		<h1>Caféer i København</h1>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt laborum ipsa corporis. Minima ipsa quod rem maxime at quos sunt placeat ipsum, natus porro in, soluta quam tempora ad veniam?</p>
	</div>
	</div>
	</header>
		<section>
			<hr>
			<h2>Charme & Atmosfære</h2>
			<p>Hver café rummer sin helt egen charme – fra rustikke kaffebarer til moderne oaser. Planlæg dit næste café besøg herunder.</p>
			<div class="grid_3_1fr">
<Card img="/img/folketskaffe.webp" text1="Folkets Kaffe" text2= "Borups Allé 2, 2200 København N" link1="Hjemmeisde" link2="Insta"/>
<Card img="/img/lele.webp" text1="Lélé" text2= "Nordre Frihavnsgade 101, 2100 København" link1="Hjemmeisde" link2="Insta"/>
<Card img="/img/sonny.webp" text1="Sonny" text2= "Frederiksberg Allé 12, 1820 Frederiksberg" link1="Hjemmeisde" link2="Insta"/>
<Card img="/img/madogkaffe.webp" text1="Mad & Kaffe Frederiksberg" text2= "Godthåbsvej 45, 2000 Frederiksberg" link1="Hjemmeisde" link2="Insta"/>
<Card img="/img/lipa.webp" text1="Lipa" text2= "Ane Katrines Vej 2, 2000 Frederiksberg" link1="Hjemmeisde" link2="Insta"/>
<Card img="/img/folketskaffe.webp" text1="Desserthuset" text2= "Frederiksborggade 50, 1360 København K" link1="Hjemmeisde" link2="Insta"/>	
</div>
<hr>
</section>


<section class="section_bag_farve">
<h2>Spots For Laptops</h2>
<div class="grid_2_1fr ">
<Card img="/img/folketskaffe.webp" text3="MOKKARIET" text4="Jagtvej 72, 2200 Nørrebro"/>
<Card img="/img/lele.webp" text3="PALUDANS BOGCAFÉ" text4="Fiolstræde 10, 1171 København"/>
<Card img="/img/sonny.webp" text3="STUDENTERHUSET" text4="Købmagergade 52, 1150 København"/>
<Card img="/img/madogkaffe.webp" text3="MINAS KAFFEBAR" text4="Nørrebrogade 75, 2200 København"/>
</div>
</section>

	</body>
</html>

